
<div class="col-md-8">
    <div >
        <a class="btn btn-primary btn-md pull-right" ui-sref="editContact">Add New Contact</a>
    </div>
    <br /><br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr>
                <th>SNo</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="contact in contacts">
                <td>{{ $index+1 }}</td>
                <td>{{ contact.FirstName }}</td>
                <td>{{ contact.LastName }}</td>
                <td>{{ contact.Email }}</td>
                <td>{{ contact.PhoneNumber }}</td>
                <td>
                    <span class="label statusSize" ng-class="{0:'label-success', 1:'label-danger'}[contact.status]">
                        {{ contact.status | status }}
                    </span>  
                </td>
                <td>
                    <a class="btn btn-primary btn-xs" ui-sref="editContact({contact:contact})">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal"  ng-click="assign(contact)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

 <div ng-if="!visible">
    <div id="myModal" class="modal fade col-md-5 center-block" style="top:150px;" tabindex="-1">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Are you sure you want to delete Record<b>?</b></h4>
            </div>
            <div class="modal-body">

                <div>
                    <label for="firstname">
                        First Name:
                    </label>
                    <label class="text-danger">{{contact.FirstName}}</label>
                </div>
                <div>
                    <label for="lastname">
                        Last Name:
                    </label>

                    <label class="text-danger">{{contact.LastName}}</label>
                </div>
                <div>
                    <label for="Email">
                        Email:
                    </label>
                    <label class="text-danger">{{contact.Email}}</label>
                </div>

                <div>
                    <label for="Phone Number">
                        Phone Number:
                    </label>
                    <label class="text-danger">{{contact.PhoneNumber}}</label>
                </div>


                <div>
                    <label for="Status">
                        Status:
                    </label>
                    <label class="text-danger">{{contact.status|status}}</label>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="submit" class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="deleteContact(contact.ID)"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
